.register-container {
    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 20px;

    .content-left {
        margin-top: 50px;

        .branch {
            text-transform: uppercase;
            font-size: 30px;
            color: #1877f2;

        }

        .detail {
            font-size: 20px;
        }
    }

    .content-right {
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        background-color: #fff;

        .branch {
            text-transform: uppercase;
            font-size: 20px;
            color: #1877f2;
            text-align: center;
            font-weight: 600;
        }

        .forgot-password {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }



}